.search-popup {
  position: absolute;
  z-index: 10000;
  top: 30px;
}

.poster {
  border: 2px solid orange;
}

.fade-animation {
  animation: animate 0.3s linear;
}

@keyframes animate {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
