.movie-card {
  width: 100%;
  height: 100%;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.movie-content {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.movie-title {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  max-width: 400px;
  animation: moveInLeft 0.5s ease-out;
}

.movie-ranking {
  display: flex;
  color: #fff;
  font-size: 20px;
  align-items: center;
  animation: moveInRight 0.5s ease-out;
}

.movie-ranking > h1 {
  color: #fff;
  border: 1px solid rgba(0, 135, 255, 1);
  padding: 5px;
  border-radius: 2px;
  margin-right: 5px;
}

.movie-ranking > p {
  color: #fff;
  padding: 5px;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
