.movie-item {
  position: relative;
  transition: 0.6s ease-in;
  margin-top: 100px;
  cursor: pointer;
  display: inline-block;
}

.movie-item:hover .background {
  display: block;
}

.poster {
  width: 180px;
  height: 270px;
}
.background {
  top: 0;
  left: 0;
  position: absolute;
  background: rgb(22, 21, 21);
  opacity: 0.8;
  width: 180px;
  height: 100%;
  display: none;
}

.player-icon {
  position: relative;
  top: calc(50% - 33px);
  left: calc(50% - 33px);
}
