.movies-section {
  width: 50%;
  margin: 0 auto;
}

.movies-menu {
  animation: moveInBottom 0.5s ease-out;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

@media (max-width: 1000px) {
  .movies-section {
    width: 80%;
  }
}

@media (max-width: 1300px) and (min-width: 1001px) {
  .movies-section {
    width: 70%;
  }
}

@media (max-width: 1700px) and (min-width: 1301px) {
  .movies-section {
    width: 60%;
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  80% {
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.left-position {
  left: 185px;
}

.right-position {
  right: 185px;
}

/* @media (min-width: 1800px) {
  .movies-menu {
    grid-template-columns: repeat(5, 180px);
  }
}

@media (max-width: 1600px) and (min-width: 1200px) {
  .movies-menu {
    grid-template-columns: repeat(4, 180px);
  }
}

@media (max-width: 1200px) {
  .movies-menu {
    grid-template-columns: repeat(3, 180px);
  }
}

@media (max-width: 900px) {
  .movies-menu {
    grid-template-columns: repeat(2, 180px);
  }
} */
