.main-layout {
  width: 100%;
}

.arrowBack {
  position: absolute;
  top: 0;
  left: 50px;
  transform: translateY(100%);
}

.arrowForward {
  position: absolute;
  top: 0;
  right: 50px;
  transform: translateY(100%);
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}
