.main-layout {
  width: 100%;
}

.layout {
  position: relative;
}

.arrowBack {
  position: absolute;
  top: 0;
  left: 50px;
  transform: translateY(100%);
}

.arrowForward {
  position: absolute;
  top: 0;
  right: 50px;
  transform: translateY(100%);
}

.index {
  z-index: 2000;
}

.onfocus {
  display: block;
}
