.main-layout {
  width: 100%;
}

.layout {
  position: relative;
}

.arrowBack {
  position: absolute;
  top: calc(50% - 60px);
  left: 50px;
  cursor: pointer;
}

.arrowForward {
  position: absolute;
  top: calc(50% - 60px);
  right: 50px;
  cursor: pointer;
}

.index {
  z-index: 2000;
}

.onfocus {
  display: block;
}
