.template-container {
  width: 50%;
}

@media (max-width: 1000px) {
  .template-container {
    width: 80%;
  }
}

@media (max-width: 1300px) and (min-width: 1001px) {
  .template-container {
    width: 70%;
  }
}

@media (max-width: 1700px) and (min-width: 1301px) {
  .template-container {
    width: 60%;
  }
}
