.search-popup {
  position: absolute;
  z-index: 10000;
  top: 102px;
}

.movie-posters {
  background: #fff;
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.movie-poster {
  width: 150px;
  height: 225px;
  margin: 0 5px;
}

.fade-animation {
  animation: animate 0.4s linear;
}

.hide-animation {
  animation: close-animation 0.4s linear;
}

@keyframes close-animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes animate {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
