.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
}

.fade-animation {
  animation: show_anim 400ms ease-in;
}

.hide-animation {
  opacity: 0;
  transition: opacity 400ms ease-in;
}

@keyframes show_anim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
