.search-popup {
  position: absolute;
  z-index: 10000;
  top: 98px;
}

.fade-animation {
  animation: animate 0.4s linear;
}

@keyframes animate {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
