.header-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  padding: 20px 250px;
  top: 0;
  left: 0;
  background: transparent;
  z-index: 300;
}

.heading {
  font-family: 'Homemade Apple', cursive;
  color: #fff;
  font-size: 32px;
  cursor: pointer;
}

.header-bar img {
  margin: 0px 10px;
}

.header-navigation {
  display: flex;
}

.header-navigation div {
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.header-navigation p {
  color: #fff;
  font-size: 12px;
  margin-top: 5px;
}
