.movie-item {
  padding: 30px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  animation: moveInBottom 0.5s ease-out;
}

.movie-info {
  display: flex;
  justify-content: space-between;
}

.movie-poster {
  width: 200px;
  height: 300px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
}

.trailers-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movie-description {
  background: #fff;
  flex: 1;
  margin-left: 20px;
  padding: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  80% {
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.list-item {
  display: inline;
  color: #419dd6;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 18px;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-item > span {
  color: #6c757d;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  margin-left: 3px;
}
