.comment {
  background: #f7f4f4;
  margin: 20px 0;
  padding: 0 8px 0 10px;
  line-height: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
}

.comment-content {
  color: #6c757d;
  font-size: 14px;
}

.comment-content > span {
  color: #3a86ff;
  font-weight: 300;
  margin-left: 5px;
  cursor: pointer;
}

.comment-action {
  margin-left: 3px;
}
