.movie-menu {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heading {
  padding: 10px 0px 30px 0px;
  font-weight: bold;
  text-transform: uppercase;
  color: #2f83c6;
  font-size: 20px;
}
